user www-data;
worker_processes 4;
pid /var/run/nginx.pid;

events {
	worker_connections 768;
}

http {
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	gzip on;
	gzip_disable "msie6";

	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;

	proxy_next_upstream error;

	server {
		listen 80;

		client_max_body_size ${client_max_body_size};
		set $uv_public "uv_public=true;";

		location / {
			proxy_set_header Host $http_host;
			proxy_pass http://localhost:${main_proxy_port};
			${proxy_extras}
		}

		location /annex_channel {
			proxy_pass http://localhost:8890;
			proxy_http_version 1.1;
			proxy_redirect off;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "upgrade";
			proxy_set_header Host $http_host;
			proxy_set_header X-Real-IP $remote_addr;
		}
	}
}
